/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,600;1,800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");
/* google fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans", sans-serif;
}

.active {
  background-color: #73ce7f;
  padding: 8px 15px;
  border-radius: 25px;
  color: black;
}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}
.active-tab {
  background: #1687c9;
  border-radius: 6px 6px 0px 0px;
  font-weight: 700;
  color: white;

}
